node_modules

/build
/public/build
/public/images
/content/images
/server-build
.env

**/*.yaml
**/*.yml
**/*.md

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/*.json
/coverage
/prisma/migrations

package-lock.json

